* {
  font-family: 'Quantico', sans-serif !important;
  color: #fff !important;
  /* font-family: 'Titillium Web', sans-serif; */


}

body {
  background-color: #031927 !important;
}

.font_titillium {
  font-family: 'Titillium Web' !important;
}

.dark_blue_bg {
  background-color:
    #031927 !important;
}

.red_border_color {
  border-color: #EF233C !important;
}